html, body {
  margin: 0;
  padding: 0;
  background-color: #212529; /* Mesma cor do bg-dark do Bootstrap */
  overflow-x: hidden; /* Evita que crie uma barra de rolagem horizontal */
}

#root {
  width: 100%;
  min-height: 100vh;
}